html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.siteNav{
    background-color: transparent;
}
.siteNav-fixed{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background-color: #343a40;
    box-shadow: 0 4px 10px 1px #4b4a4ae5;
    animation: slide 0.9s forwards;
}

@keyframes slide {
    from{
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}



.imgFluid{
    width: 100%;
    height: 400px;
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.747),rgba(32, 32, 32, 0.89)),url(../image/banner.jpg);
    background-size: cover;
    background-position: center center;
    
}



.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    text-decoration: none;

  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn{
      background-color:transparent;
  }
  .win1{
    width: 100%;
    max-width: 800px;
}
.borderBottom1{
    width: 100%;
    height: 2px;
    background:linear-gradient(to right,#ffc107,#ffc107 20%, #4e4b4b 20%, #4e4b4b 100%);
}
.borderBottom2{
    width: 100%;
    height: 2px;
    background:linear-gradient(to right,#ffc107,#ffc107 18%, #4e4b4b 18%, #4e4b4b 100%);
}
.borderBottom3{
    width: 100%;
    height: 2px;
    background:linear-gradient(to right,#ffc107,#ffc107 29%, #4e4b4b 29%, #4e4b4b 100%);
}
.borderBottom4{
    width: 100%;
    height: 2px;
    background:linear-gradient(to right,#ffc107,#ffc107 34%, #4e4b4b 34%, #4e4b4b 100%);
}
.click{
    padding: 15px 30px;
    background-color: rgba(224, 217, 217, 0.801);
    color: rgb(58, 57, 57);
    transition: all 0.5s ease;
}
.click:hover{
    background-color: #ffc107;
    color: white;
}
.click1{
    padding: 15px 40px;
    
    background-color:rgb(58, 57, 57);
    transition: all 0.5s ease;
}
.click1:hover{
    background-color: #ffc107;
}

.button1{
    background-color: #2b2e33;
    padding: 13px;
    border-radius: 1px;
    border: 0;
    color: #343a40;
    transition: all 0.5s ease;
    text-align: center;
}
.button1:hover{
    background-color: #ffc107;
    color: #ffc107;
}
.textarea{
    width: 100%;
    height: 140px;
    background-color: rgba(240, 245, 243, 0.911);
}









.win8{
    width: 40px;
    height: 40px;
    background-color: rgba(112, 111, 111, 0.281);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: all 0.5s ease;
}
.win8:hover{
    background-color: #ffc107;
    color: #343a40;
}