html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.siteNav{
    background-color: #EAE5E9;
}
.siteNav-fixed{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 4px 10px 1px #cecacab0;
    animation: slide 0.9s forwards;
}
@keyframes slide {
    from{
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    text-decoration: none;

  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn{
    background-color:transparent;
}
 
 
  
  




.firstBgImage{
    background-image: url(../image/home-banner.webp);
    background-position: center center;
    background-size: cover;
}
.ImgBottom{
    padding-bottom: 300px;
}
.win1{
    width: 330px;
    padding: 20px;
    border-radius: 5px;  
    transition: all 0.5s ease;
}
.win1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgRelative{
    position: relative;
}
.priceAbsolute{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    background-color:#ffc107;
    top: 46%;
    left:75%;
    z-index: 1000;
    
}
.userImg{
    width: 50px;
    background-size: cover;

}
.win2{
    transition: all 0.5s ease;
}
.imgScale{
    transition: all 0.5s ease;
}
.win2:hover .imgScale{
    transform: scale(1.2);
    
}
.linkText{
    transition: all 0.5s ease;
}
.win2:hover .linkText{
    color: #ffc107;
}
.whiteHover{
    transition: all 0.5s ease;
    background-color: rgb(245, 243, 243);

}
.win2:hover .whiteHover{
    background-color: #fff;
}
.win2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(77, 76, 76, 0.19);
}
.win3{
    max-width: 100%;
    background-color: rgba(233, 220, 220, 0.459);
    border: 1px solid white;
}
.win4{
    width: 350px;
    padding: 20px 40px;
    background-color: #fff;
}
.border1{
    width: 100%;
    padding: 5px;
    border:0; 
}

.button1{
    background-color: #ffc107;
    padding: 10px;
    border-radius: 1px;
    border: 0;
    color: #343a40;
    transition: all 0.5s ease;
}
.button1:hover{
    background-color: #343a40;
    color: #ffc107;
}




.win5{
    width: 260px;
    overflow: hidden;
   transition: all 0.5s ease;
}
.win5:hover{
    box-shadow: 0 4px 10px 1px #888888;
}
.icon{
    color:black;
    transition: all 0.5s ease;
}
.icon:hover{
    color: #ffc107;
}
.win6{
    width: 500px;
    overflow: hidden;

}
.win6:hover .imgScale{
    transform: scale(1.1);
}
.boxPosition{
    position: absolute;
    right: 0;
    top: 0;
    width: 270px;
    padding: 20px;
    background-color: rgba(0, 35, 71, 0.5);
    z-index: 90;
}
.borderRight{
    border-right: 3px solid  #fff;
}
.win7{
    width: 250px;
    border-radius: 10px;
}
.CarouselShadow{
transition: all 0.5s ease;
}
.CarouselShadow:hover{
    box-shadow: 0 4px 10px 1px #888888;

}
.bgColor{
    background-color: rgba(112, 111, 111, 0.281);
    color: white;
}
.win8{
    width: 40px;
    height: 40px;
    background-color: rgba(112, 111, 111, 0.281);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: all 0.5s ease;
}
.win8:hover{
    background-color: #ffc107;
    color: #343a40;
}